/* EVERYTHING */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body, html {
    width: 100vw;
    height: 100vh;
    background-color: var(--common-background);
    font-family: 'SF Pro Text Bold', Helvetica, sans-serif;
}

/* MARKING THE END OF THE INTRO SECTION STYLING */