/* EVERYTHING */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body, html {
    width: 100vw;
    height: 100vh;
    min-width: 500px;
    background-color: var(--common-primary-black-color);
    font-family: sans-serif;
}

/* INTRO OF THE HOMEPAGE */
section.intro {
    width: 60%;
    height: 40%;
    position: relative;
    top: 30vh;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.intro .first > h1 {
    width: 100%;
    font-size: 2.5rem;
    padding: var(--common-smaller-padding);
    letter-spacing: var(--common-spacing);
}

.intro .first > h3 {
    width: 100%;
    font-size: 1.5rem;
    padding: var(--common-smaller-padding);
    letter-spacing: var(--common-spacing);
}

.intro .first p {
    width: 100%;
    padding: var(--common-smaller-padding);
    letter-spacing: var(--common-spacing);
}

.intro .__button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--common-bigger-padding);
}

.intro .__button > button {
    width: var(--common-button);
}

.intro .__button button img {
    min-width: 100%;
    max-height: 100%;
}

.intro .__button button:nth-last-child(1) {
    margin: var(--common-bigger-padding);
}
/* MARKING THE END OF THE INTRO SECTION STYLING */