:root {
  --common-input-padding: 1.125rem 0 0.625rem 3rem;
  --common-letter-spacing: -0.03125rem;
  --common-input-height: 3.5rem;
  --common-input-border-radius: 0.5rem 0.5rem 0 0;
  --common-input-border-bottom: 0 0 0.5rem 0.5rem;
}

/* OVERALL INPUT CONTAINER */
section.input-container {
  width: 100%;
  height: 100%;
  margin: auto;
  top: var(--common-navbar-height);
  display: flex;
  align-items: center;
  flex-direction: column;
}

section.input-container #note-input {
  height: 85%;
  border-radius: var(--common-input-border-bottom);
}

section.input-container #note-input,
section.input-container #title-input,
section.input-container #date-input {
  width: 100%;
  line-height: 1.5;
  border: none;
  font-size: 1rem;
  background-color: var(--common-background);
  color: var(--common-semi-transparent-white);
  padding: var(--common-input-padding);
  white-space: pre-wrap;
  word-wrap: break-word;
  outline: none;
  font-family: "SF Pro Regular", Arial, Helvetica, sans-serif;
  letter-spacing: var(--common-letter-spacing);
}

/* the first input */
section.input-container input#title-input,
section.input-container #date-input {
  height: var(--common-input-height);
}

section.input-container input#title-input {
  border-radius: var(--common-input-border-radius);
}

#note-input::placeholder {
  height: auto;
}

#note-input::before {
  color: var(--common-semi-transparent-white);
  pointer-events: none;
  display: block;
}
/* MARKING THE END OF INPUT ADDING SECTION */
