:root {
    /* COMMON BUTTON WIDTH */
    --common-button-width: 7.64rem;
    --common-button-height: 2.44rem;
    --common-button-padding: 0.625rem 1.125rem;
}

/* CUSTOM BUTTON */
.custom-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: var(--common-button-height);
    margin: var(--common-bigger-margin);
    padding: var(--common-button-padding);
    background-color: var(--common-button-background);
    border-color: var(--common-button-background);
    border-radius: 0.25rem;
    cursor: pointer;
}

.custom-button:hover {
    opacity: var(--common-opacity);
}

.custom-button a {
    font-family: 'SF Pro Regular', Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: var(--common-semi-transparent-white);
    font-size: var(--common-p-font);
    letter-spacing: -1.52px;
}
/* MARKING THE END OF CUSTOM BUTTON STYLING */