:root {
    --common-navbar-height: 2.69rem;
}

nav {
    width: 100%;
    height: var(--common-navbar-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav div {
    height: 100%;
}

nav div img {
    height: 100%;
}