:root {
    /* PADDING */
    --common-smaller-padding: 0.35rem;
    --common-bigger-padding: 0.75rem;
    /* MARGIN */
    --common-smaller-margin: 0.35rem;
    --common-bigger-margin: 0.75rem;
    /* BUTTON */
    --common-button : 8.125rem;
    /* BLACK COLOR */
    --common-primary-black-color : rgb(155, 155, 155);
    /* COMMON LETTER SPACING */
    --common-spacing : -1.92px;
    /* COMMON WEIGHT */
    --common-weight: 500;
}

@media (max-width: 920px) {
    :root {
    /* BUTTON */
    --common-button : 6.5rem;
    }
}