:root {
    --common-margin-bottom: 1.125rem;
    --common-div-height: 37.5rem;
}

/* INTRO OF THE HOMEPAGE */
section.intro {
    width: 60%;
    height: var(--common-div-height);
    position: relative;
    top: calc(50vh - 18.75rem);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: var(--common-opacity);
    font-weight: var(--common-font-weight);
}

.intro-common {
    width: 100%;
    padding: var(--common-smaller-padding);
    letter-spacing: var(--common-spacing);
    color: var(--common-semi-transparent-white);
    margin-bottom: var(--common-margin-bottom);
    text-align: center;
}

.intro .first {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.intro-common:hover {
    color: var(--common-hover-white);
}

.intro .first > h1 {
    padding-bottom: 0;
    font-size: var(--common-h1-font);
    font-family: 'SF Pro Text Bold', Helvetica, sans-serif;
}

.intro .first > h3 {
    font-size: var(--common-h3-font);
    font-family: 'SF Pro Text Semi Bold', Helvetica, sans-serif;
}

.intro .first p {
    font-size: var(--common-p-font);
    font-family: 'SF Pro Text Regular', Helvetica, sans-serif;
    text-align: justify;
}

@media screen and (max-width: 600px) {
    .intro .buttonContainer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: var(--common-smaller-padding);
        margin-bottom: var(--common-margin-bottom);
    }

    .intro .buttonContainer .custom-button {
        width: 100%;
    }
}
/* MARKING THE END */